{% include "header.html" %}

<body>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Scout. Save. Soar. </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Flight Scout is your ultimate companion for unlocking unbeatable flight deals. Discover dream destinations without breaking the bank. Navigate towards incredible savings and embark on affordable adventures with ease. Fly smarter, save bigger. Welcome to a world of budget-friendly travel.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" href="{{url_for('register')}}" class="btn btn-primary btn-lg px-4 me-sm-3">Join Now</a>
        <a type="button" href="{{url_for('contact')}}" class="btn btn-outline-secondary btn-lg px-4">Contact Us</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="static/img/newhome-bg.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Why Join Us?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/img/coin.svg" alt="coin icon" height="30">
        </div>
        <h3 class="fs-2">Savings</h3>
        <p>Unlock remarkable savings on your airfare with Flight Scout. Our powerful search engine scours through multiple airlines and travel providers to find you the best deals available. By leveraging our extensive network and smart algorithms, we help you discover the most affordable flights to your desired destinations. Whether it's a spontaneous getaway or a well-planned vacation, Flight Scout is your go-to platform for making your travel budget go further.
        </p>
        <a href="{{url_for('about')}}" class="icon-link">
          Learn More
          <img src="static/img/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/img/arrow-repeat.svg" alt="bus icon" height="30">
        </div>
        <h3 class="fs-2">Real-Time</h3>
        <p>Stay in the loop with real-time price updates from Flight Scout. Our innovative app constantly monitors flight prices, notifying you of any fluctuations, flash sales, and limited-time offers. By providing up-to-the-minute information, we empower you to make informed decisions and seize the best deals as they happen. Say goodbye to outdated prices and hello to a dynamic and cutting-edge platform that ensures you never miss out on savings opportunities.
        </p>
        <a href="{{url_for('about')}}" class="icon-link">
          Learn More
          <img src="static/img/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient= fs-2 mb-3">
          <img src="static/img/check2-circle.svg" alt="heart icon" height="30" >
        </div>
        <h3 class="fs-2">Trustworthiness</h3>
        <p>At Flight Scout, we prioritize trust and reliability above all else. Our unwavering commitment is to deliver accurate, up-to-date, and dependable flight information to our users. We meticulously ensure that the data we provide is of the highest quality and integrity. Rest assured, knowing that the prices and details you find on Flight Scout are not only reliable but also backed by our dedication to your confidence and peace of mind when booking your flights.
        </p>
        <a href="{{url_for('about')}}" class="icon-link">
          Learn More
          <img src="static/img/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="carousel-3">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/bg3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static/img/bg1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static/img/bg2.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  {% include "footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

